:root {
  --menuToggle: var(--spacing-sm) var(--spacing-md);
  --menuToggle-path-background: var(--color-body);
  --menuToggle-path-width: 1.5rem;
  --menuToggle-path-height: 3px;
  --menuToggle-path-offset: calc(4px + var(--menuToggle-path-height));
  --menuToggle-active-background: var(--color-smoke);

   
}

.MenuToggle {
  background: none;
  border: 0;
  font-size: 0.5rem;
  padding: var(--spacing-sm) var(--spacing-md);
  cursor: pointer;
  font-family: var(--font-family-base);
  -webkit-appearance: none;
  
  

   @media (--small-viewport) { 
      height: 100%;
      /* border-right: 2px solid var(--color-border); */
      display: flex;
      align-items: center;
      width: calc(var(--sidebar-width) / 2);
      font-size: var(--baseline-font-size);
     
   }

   @media (--xlarge-viewport) { 
     position: absolute;
     width: var(--sidebar-width);
   }
}
.MenuToggle--isActive {
  background: var(--menuToggle-active-background);
}

.MenuToggle__path {
  height: var(--menuToggle-path-height);
  background-color: var(--menuToggle-path-background);
  width: var(--menuToggle-path-width);
  position: relative;
  display: block;
  margin-top: var(--menuToggle-path-offset);
  &:after,
  &:before {
    content: '';
    width: 100%;
    height:var(--menuToggle-path-height);
    background-color: inherit;
    transition: 0.4s;
    position: absolute;
    left: 0;
  }
  &:before {
    top: -7px;
  }
  &:after {
    bottom: -7px;
  }
  @media (--small-viewport) { 
    margin-top: 0;
  }
}
.MenuToggle__text {
  margin-top: var(--spacing-sm);
  display: block;

  
  @media (--small-viewport) { 
    margin-left: var(--spacing-xs);
    margin-top: 0;
  }
}