:root {
  --menuToggle--spacing: var(--spacing-sm) var(--spacing-md);
  --menuToggle-path-background: var(--color-body);
  --menuToggle-path-width: 1.5rem;
  --menuToggle-path-height: 3px;
  --menuToggle-active-background: var(--color-smoke);
  
  @media (--medium-viewport) { 
    --menuToggle--spacing: var(--spacing-sm) var(--spacing-md) var(--spacing-sm) var(--spacing-lg);
  }
  @media (--medium-viewport) { 
    --menuToggle-path-height: 2px;
  }
}

.MenuToggle {
  background: none;
  border: 0;
  font-size: 0.5rem;
  padding: var(--menuToggle--spacing);
  cursor: pointer;
  font-family: var(--font-family-base);
  -webkit-appearance: none;
  outline: none;
  position: relative;

  &:after {
    content:'';
  }

  @media (--medium-viewport) { 
    border-right: 2px solid var(--color-border);
    display: flex;
    align-items: center;
    width: calc(var(--sidebar-width) - 2px);
    font-size: var(--baseline-font-size); 
    margin-left: 2px;
    position: absolute;
    height: 100%;
  }
   @media (--large-viewport) { 
      
   }
}
.MenuToggle--isActive {
  
  @media (--medium-viewport-down) { 
    &:after {
      background: var(--menuToggle-active-background);
      position: absolute;
      width: 2.5rem;
      top: 0;
      left: 0;
      z-index: -1;
      height: 100%;
      width: 100%;
    }

    @media (--medium-viewport) { 
      &:after {
        width: 2.5rem;
        left: 16px;
      }
    }
  } 
}

.MenuToggle__inner {
  position: relative;
  width: var(--menuToggle-path-width);
  height: 18px;
}


.MenuToggle__path {
  height: var(--menuToggle-path-height);
  background-color: var(--menuToggle-path-background);
  width: var(--menuToggle-path-width);
  position: absolute;
  display: block;
  left: 0;
  transition: .2s ease-in-out;
  
  &:nth-child(1){
    top: 0;
  }
  &:nth-child(2) {
    top: 7px;
  }
  &:nth-child(3) {
    top: 7px;
  }
  &:nth-child(4) {
    top: 14px;
  }
}

.MenuToggle--isActive .MenuToggle__path{
 
  &:nth-child(1){
    top: 0px;
    width: 0%;
    left: 50%;
  }
  &:nth-child(2) {
    top:7px;
    transform: rotate(45deg);
  }
  &:nth-child(3) {
    top: 7px;
    transform: rotate(-45deg);
  }
  &:nth-child(4) {
    top: 7px;
    width: 0%;
    left: 50%;
  }
}

.MenuToggle__text {
  margin-top: 4px;
  display: block;

  
  @media (--medium-viewport) { 
    margin-left: var(--spacing-sm);
    margin-top: 0;
  }
}