@import '~@lansforsakringar/fonts/index.css';

@custom-media --xsmall-viewport (width > 37.5rem);
@custom-media --small-viewport (width > 48rem);
@custom-media --small-viewport-down (width < 48rem);
@custom-media --medium-viewport (width >= 64rem);
@custom-media --medium-viewport-down (width < 64rem);
@custom-media --large-viewport (width > 70rem);
@custom-media --large-viewport-down (width < 70rem);
@custom-media --xlarge-viewport (width > 83.75rem);
@custom-media --xlarge-viewport-down (width < 83.75rem);
@custom-media --xxlarge-viewport (width > 96.875rem);
@custom-media --xxlarge-viewport-down (width < 96.875rem);

@custom-media --medium-viewport-bootstrap (width > 992px);
@custom-media --medium-viewport-bootstrap-down (width < 992px);
@custom-media --large-viewport-bootstrap (width > 1200px);
@custom-media --large-viewport-bootstrap-down (width < 1200px);

:root {
  --font-family-base: arial, 'Helvetica Neue', helvetica, sans-serif;
  --font-family-monospace: menlo, monaco, consolas, 'Liberation Mono',
    'Courier New', monospace;

  --font-weight-bold: 700;
  --font-weight-normal: normal;

  --font-size-large: 1.125rem;
  --font-size-normal: 1rem;
  --font-size-small: 0.875rem;

  --color-body: #515151;
  --color-white: #fff;
  --color-navy: #00427a;
  --color-blue: #005aa0;
  --color-smoke: #f3f3f3;
  --color-grey: #6b7070;
  --color-black: #222;
  --color-red: #e30613;
  --color-shadow: #e5e5e5;
  --color-yellow: #faf4d4;
  --color-background-light: #fafafa;

  --color-border: var(--color-shadow);

  --baseline: 1.3152;
  --baseline-font-size: 1rem;

  --spacing-unit: 1rem;
  --spacing-xs: calc(0.5 * var(--spacing-unit));
  --spacing-sm: calc(0.75 * var(--spacing-unit));
  --spacing-md: calc(1.25 * var(--spacing-unit));
  --spacing-lg: calc(1.5 * var(--spacing-unit));
  --spacing-xlg: calc(1.75 * var(--spacing-unit));
  --spacing-xxlg: calc(2 * var(--spacing-unit));

  --spacing-vertical--05: calc(0.5 * var(--baseline) * 1rem);
  --spacing-vertical--1: calc(1 * var(--baseline) * 1rem);
  --spacing-vertical--2: calc(2 * var(--baseline) * 1rem);
  --spacing-vertical--25: calc(2.5 * var(--baseline) * 1rem);
  --spacing-vertical--3: calc(3 * var(--baseline) * 1rem);

  --breakpoint-1: 48rem;
  --breakpoint-2: 62rem;
  --breakpoint-3: 75rem;

  --sidebar-width: 17.375rem;

  --content-width: 60.625rem;
  --content-width--narrow: 47.5rem;
  --content-width--tight: 37.5rem;
  --content-width--wide: 78.5rem;

  --header-height: 7.75rem;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  min-height: 100%;
  scroll-padding-top: 140px;
}

body {
  font-size: 100%;
  margin: 0;
  font-family: var(--font-family-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: var(--baseline);
  background-color: var(--color-white);
  min-height: 100vh;
  @media (--medium-viewport) {
    padding-top: calc(var(--header-height) + var(--spacing-vertical--2));
  }
}

iframe {
  width: 100%;
  height: 100%;
  border: 2px solid var(--color-border);
  min-height: 300px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin-top: 0;
  margin-bottom: var(--spacing-vertical--1);
  line-height: var(--baseline);
}
button {
  -webkit-appearance: none;
}

#___gatsby,
div[role='group'][tabindex] {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  @media (--medium-viewport) {
    min-height: calc(
      100vh - (var(--header-height) + var(--spacing-vertical--2))
    );
  }
}

.bg-smoke {
  background-color: var(--color-smoke);
}

::selection {
  background: var(--color-shadow);
}

/* External Links */

a {
  text-decoration-thickness: 1px !important;
  text-underline-offset: 0.1em;
}

a[rel*='external'] {
  word-break: break-all;
}

a[rel*='external']::after {
  content: '';
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  margin-left: 0.1rem;
  vertical-align: middle;
  display: inline-block;
  background-position-y: 50%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' id='external-link-inline-20'%3E%3Cg fill='%23222' fill-rule='evenodd'%3E%3Cpath d='M10.005 4L10 5.75h2.84L8.1 10.5l1.4 1.4 4.75-4.74v2.835H16V4z'/%3E%3Cpath d='M4 5v11h11v-4h-2v2H6V7h2V5z'/%3E%3C/g%3E%3C/svg%3E");
  background-size: 20px;
  top: -0.1em;
  position: relative;
}

.Modal {
  max-width: 444px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(2 * var(--spacing-xlg));
  @media (--medium-viewport) {
    margin-top: calc(4 * var(--spacing-xlg));
  }
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 100;
  width: 100%;
  height: 100%;
  transition: opacity 0.25s ease-in-out;
  opacity: 0;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.Container {
  transition: all 0.3s;
}
.Container--push {
  @media (--medium-viewport) {
    margin-left: var(--sidebar-width);
  }
}

.CardGrid__grid {
  display: flex;
  flex-wrap: wrap;
  margin: var(--spacing-vertical--2) 0;
}

.Icons .icon-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.Icons .icon {
  color: #005aa0;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.Icons .text-sm {
  font-size: 0.875rem;
  margin-left: 10px;
}

.Icons .mb-2 {
  margin-bottom: 2rem !important;
}
.Icons h3,
.Icons .Content h3 {
  font-size: 1.5rem;
  line-height: 1.333;
  margin-bottom: var(--spacing-vertical--05);
  margin-top: var(--spacing-vertical--2);
  position: relative;

  @media (--small-viewport) {
    font-size: 2rem;
  }
}

.Position-relative {
  position: relative;
}
