

@custom-media --small-viewport (width > 48rem);
@custom-media --small-viewport-down (width < 48rem);
@custom-media --medium-viewport (width > 64rem); 
@custom-media --large-viewport (width > 75rem);
@custom-media --large-viewport-down (width < 75rem);
@custom-media --xlarge-viewport (width > 81.25rem);
@custom-media --xlarge-viewport-down (width < 81.25rem);
@custom-media --xxlarge-viewport (width > 96.875rem);
@custom-media --xxlarge-viewport-down (width < 96.875rem);
:root {
  --font-family-base: Arial, "Helvetica Neue", Helvetica, sans-serif;

  --font-weight-bold: 700;
  --font-weight-normal: normal;

  --color-body: #515151;
  --color-white: #fff;
  --color-navy: #00427a;
  --color-blue: #005aa0; 
  --color-gray: #747578;
  --color-smoke: #F3F3F3;
  --color-black: #222;
  --color-red: #E30613;
  --color-shadow: #e5e5e5;
  --color-yellow: #faf4d4;

  --color-border: var(--color-shadow);

  --baseline: 1.31;
  --baseline-font-size: 1rem;
  
  --spacing-unit: 1rem;
  --spacing-xs: calc(0.5 * var(--spacing-unit));
  --spacing-sm: calc(0.75 * var(--spacing-unit));
  --spacing-md: calc(1.25 * var(--spacing-unit));
  --spacing-lg: calc(1.5 * var(--spacing-unit));
  --spacing-xlg: calc(1.75 * var(--spacing-unit));
  --spacing-xxlg: calc(2 * var(--spacing-unit));

  --spacing-vertical--05: calc(0.5 * var(--baseline) * 1rem);
  --spacing-vertical--1: calc(1 * var(--baseline) * 1rem);
  --spacing-vertical--2: calc(2 * var(--baseline) * 1rem);
  --spacing-vertical--3: calc(3 * var(--baseline) * 1rem);

  --breakpoint-1: 48rem;
  --breakpoint-2: 62rem;
  --breakpoint-3: 75rem;
  
  --sidebar-width: 17.375rem;

  --content-width: 64rem; 
  --content-width--narrow: 47.3125rem; 

  --hedader-height: 7.75rem;
}



/*  Rhythm unit 22px/ */
/* @media (min-width: 30em) {
  :root {
    /* a value of 3 used here to exaggerate the changes so you can see it in the demo below */
    /* --baseline: 3;
  } */
/* } */ 



html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}
body {
  font-size: 100%;
  margin: 0;
  font-family: var(--font-family-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  line-height: var(--baseline);
  background-color: var(--color-smoke);
  
  @media (--small-viewport) {
    /* fixed header */
    padding-top: calc(var(--hedader-height) + var(--spacing-vertical--2));
  }
}

iframe {
  width: 100%;
  height: 100%;
  border: 2px solid var(--color-border);
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin-top: 0;
  margin-bottom: var(--spacing-vertical--1);
}
button {
  -webkit-appearance: none;
}
/* fix for gatsby/ react router div */
#___gatsby,
div[role="group"][tabindex] {
  height: 100%;
}

/* white background class  */

.bg-white {
  background-color: var(--color-white);
}

::selection { 
  background: var(--color-yellow); 
}
