.Changelog {
  border-top: 1px solid var(--color-border);
  width: 100%;

  @media (--small-viewport) {
    margin-bottom: var(--spacing-vertical--2);
  }
}

.Changelog__title {
  font-weight: bold;
  font-size: var(--font-size-small);
  border-bottom: 1px solid var(--color-border);
  padding-bottom: var(--spacing-vertical--05);
}

.Changelog__link {
  padding-top: var(--spacing-vertical--05);
  color: var(--color-black);
  display: block;
}

.Changelog ul {
  list-style-type: none;
  padding: 0 0 0 var(--spacing-unit);
  margin: 0 0 0 var(--spacing-unit);
}

.Changelog ul li {
  margin-bottom: var(--spacing-vertical--05);
}

.Changelog ul li a {
  color: var(--color-black);
}
.Changelog h3 {
  margin-bottom: var(--spacing-vertical--05);
}

.Changelog ul li::before {
  content: '\0025A0';
  color: var(--color-blue);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  font-size: 14px;
  line-height: 1;
  position: relative;
  top: -3px;
  margin-left: -18px;
}
