:root {
  --badge-color: var(--color-white);
}

.Badge {
  background-color: var(--badge-background);
  color: var(--badge-color);
  font-size: var(--font-size-small);
  text-align: center;
  line-height: 1.21;
  margin-left: var(--spacing-xs);
  display: inline-block;
  padding: 2px 8px;
  border-radius: 6px;
  vertical-align: middle;
}

.Badge--new {
  background-color: var(--color-blue);
}

.Badge--deprecated {
  background-color: var(--color-red);
}
