.LinkList {
  margin-bottom: var(--spacing-vertical--2);
  width: 100%;
}

.LinkList__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.LinkList__item {
  margin-bottom: var(--spacing-vertical--05);
}

.LinkList__link {
  color: var(--color-black);
}
