:root {
  --button-border: 2px solid var(--color-grey);
  --button-color: var(--color-black);
  --button-spacing: 10px;
}

.Button {
  display: block;
  color: var(--button-color);
  border: var(--button-border);
  padding: var(--button-spacing);
  margin-bottom: var(--spacing-vertical--1);
  text-decoration: none;
  text-align: center;
}
