:root {
  --menu-color: var(--color-body);
  --menu-border: 2px solid var(--wireframe-color);
  --menu-width: var(--sidebar-width);
  --menu-spacing: var(--spacing-unit) var(--spacing-unit)
    calc(var(--spacing-unit) - 1px);
  --menu-trigger-width: 12px;
  --menu-trigger-height: 12px;
  --menu-offset: calc(7.0625rem);
  --menu-overlay: rgba(34, 34, 34, 0.69);
  --menu-active: var(--color-red);
  --menu-active-background: var(--color-smoke);

  @media (--medium-viewport) {
    --menu-offset: calc(7.9rem + 1px);
  }
}

.Menu {
  background-color: var(--color-white);
  width: var(--menu-width);
  border-right: 2px solid var(--color-border);
  position: fixed;
  top: var(--menu-offset);
  left: 0;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 1300;
  transform: translateX(-100%);
  transition: 0.4s transform cubic-bezier(0.4, 0, 0.2, 1);
  overflow-x: hidden;
  padding-bottom: 120px;
  @media (--medium-viewport) {
    padding-bottom: 190px;
  }
}

.Menu::-webkit-scrollbar {
  @media (--medium-viewport-down) {
    width: 0 !important;
    height: 0;
    display: none;
  }
}

.Menu--isOpen {
  transform: translateX(0);
  transition: 0.4s transform cubic-bezier(0.4, 0, 0.2, 1);
}

.Menu__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Menu__item {
  position: relative;
}

.Menu__overlay {
  display: none;

  @media (--xlarge-viewport-down) {
    display: block;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: var(--menu-offset);
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
    z-index: -1;
    touch-action: none;
  }
}
.Menu__overlay--isVisible {
  @media (--xlarge-viewport-down) {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    background-color: var(--menu-overlay);
  }
}

.Menu__sub {
  border-bottom: 1px solid var(--color-border);
  margin: 0;
  padding: 0;
  display: none;
}

.Menu__item--active .Menu__sub {
  display: block;
}

.Menu__link {
  padding: var(--menu-spacing);
  font-size: var(--menu-font-size);
  color: var(--menu-color);
  text-decoration: none;
  display: block;
  text-align: left;
  border: none;
  width: 100%;
  border-bottom: 1px solid var(--color-border);
}

.Menu__link--active {
  background-color: var(--menu-active-background);
  box-shadow: inset 2px 0 0 0 var(--menu-active);
  color: var(--color-black);
}

.Menu__trigger {
  right: 0;
  top: 0;
  border: 0;
  padding: calc(var(--spacing-xxlg) - calc(var(--menu-trigger-height) / 2))
    calc(var(--spacing-xxlg) - calc(var(--menu-trigger-width) / 2));
  position: absolute;
  background-position: 50% 50%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iOCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+PGRlZnM+PHBhdGggaWQ9ImEiIGQ9Ik02IDMuNDE0TDEuNzA3IDcuNzA3LjI5MyA2LjI5MyA2IC41ODZsNS43MDcgNS43MDctMS40MTQgMS40MTR6Ii8+PC9kZWZzPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+PHBhdGggZD0iTS00LTdoMjB2MjBILTR6Ii8+PHVzZSBmaWxsPSIjMjIyIiB4bGluazpocmVmPSIjYSIgdHJhbnNmb3JtPSJtYXRyaXgoMSAwIDAgLTEgMCA4KSIvPjwvZz48L3N2Zz4=');
  cursor: pointer;
}
.Menu__item--active .Menu__trigger,
.Menu__trigger:hover,
.Menu__trigger:focus {
  background-color: var(--color-smoke);
}
.Menu__trigger:focus {
  outline: 0;
  /* set focus styling */
}

.Menu__item--active .Menu__trigger {
  transform: rotate(180deg);
}
.Menu__sub .Menu__link {
  border: 0;
  padding: var(--spacing-sm) var(--spacing-xxlg);
}
.Menu__sub .Menu__link:after {
  background-image: none;
}
.Menu__item--active > .Menu__link:not(.Menu__link--active) {
  color: var(--color-black);
}
