:root {
  --heroBlock-height: 22.75rem;
}
.HeroBlock {
  height: 22.75rem;
  display: flex;
  padding-top: var(--spacing-vertical--3);
  align-items: center;
  margin:var(--spacing-vertical--1) 0 var(--spacing-vertical--3) 0;
}
.HeroBlock__quote {
  
  font-size: 2rem;
  text-align: left;
  line-height: 1.25;
  color: var(--color-black);
  margin: 0;

  @media (--small-viewport) { 
    max-width: 28.75rem;
    font-size: 3.125rem;
    line-height: 1.18;
  }
}
.HeroBlock__text {
  &:before {
    color: var(--color-black);
    content: open-quote;
    font-size: 3.125rem;
  }
  &:after {
    color: var(--color-black);
    content: close-quote;
  }
}
.Blockquote__icon {
  margin-bottom: var(--spacing-vertical--1);
}
.HeroBlock__cite {
  font-size: 1rem;
  display: inline-block;
  border-top: 2px solid #fff;
  padding-top: var(--spacing-sm);
  vertical-align: middle;
  margin-top: var(--spacing-vertical--1);
}