:root {
  --cardGrid-gap: 24px;
}
.CardGrid {
  margin: var(--cardGrid-gap);
  transition: all 0.3s;
}

.CardGrid--push {
  
  @media (--medium-viewport) {
    margin-left: var(--sidebar-width);
  }
}

.CardGrid__grid {
  display: flex;
  flex-wrap: wrap;
  margin: var(--spacing-vertical--2) 0;
 
  @media (--large-viewport) {
   
  }
}

.CardGrid__grid > div {
  flex: 0 1 calc(33% - 48px);
  margin: 24px;
}