:root {
  --cardGrid-gap: 24px;
}
.CardGrid {
  margin: var(--cardGrid-gap);
  
}

/* .CardGrid--push {
  
  @media (--medium-viewport) {
    margin-left: var(--sidebar-width);
  }
} */

.CardGrid__grid {
  display: flex;
  flex-wrap: wrap;
  margin: var(--spacing-vertical--2) 0;
  justify-content: center;
}

.CardGrid__grid > div {
  flex: 0 1 calc(33% - 48px);
  margin: 24px;

  @media (--xxlarge-viewport) {
   flex: 0 1 calc(25% - 48px);
  }
}