.Tags {
  overflow: hidden;
}

.Tags__list {
  list-style-type: none;
  display: flex;
  margin: 0 -8px;
  padding: var(--spacing-vertical--1) 0 0;
}

.Tags__item {
  color: var(--color-black);
  background-color: #eff4f9;
  padding: 16px 16px;
  border-radius: 32px;
  margin: 0 8px;
}
