:root {
  --tabs-color: var(--color-black);
  --tabs-background: var(--color-shadow);
  --tabs-active-color: var(--color-blue);
  --tabs-active-background: var(--color-white);
  
}

.Tabs {
  height: 100%;
}

.Tabs__list {
  display: flex;
  list-style-type: none;
 
  margin-left: var(--spacing-md);
  margin-right: var(--spacing-md);
  @media (--medium-viewport) { 
    margin-left: calc(var(--sidebar-width) + var(--spacing-xxlg));
    margin-right: var(--spacing-xxlg);
  }
  @media (--xlarge-viewport) { 
    max-width: var(--wrapper-width);
  }
  @media (--xxlarge-viewport) { 
    margin-left: auto;
    margin-right: auto;
  }
}

.Tabs__panels {
  background-color: var(--color-white);
  height: 100%;
  padding-top: var(--spacing-vertical--2);
}

.Tabs__panel {
  flex: 1;
  outline: none;
}

.Tabs__link { 
  padding: calc(var(--spacing-vertical--1) / 2) var(--spacing-vertical--1);
  text-decoration: none;
  border: 0;
  color: var(--tabs-color);
  background-color: var(--tabs-background);
  display: block;
  cursor:pointer;
  margin-right: 0.25rem;
  line-height: var(--baseline);

  &[aria-selected="true"] {
    font-weight: var(--font-weight-bold);
    background-color: var(--tabs-active-background);
    color: var(--tabs-active-color);
  }

  &:focus {
    outline: 0;
  }
}
