:root {
  --color-preamble: var(--color-black);
}

.Preamble {
  color: var(--color-preamble);
  font-size: 1.125rem;
  line-height: 1.333;
  margin-bottom: var(--spacing-vertical--2);

  @media (--small-viewport) {
    font-size: 1.5rem;
  }

  @media (--medium-viewport) {
    max-width: var(--content-width--narrow);
  }
}

.Preamble--left {
  text-align: left;
}

.Preamble--center {
  text-align: center;
  margin: 0 auto;
}
