

:root {
  --color-preamble: var(--color-black);
}

.Preamble {
  color: var(--color-preamble);
  font-size: 1.5rem;
  line-height: 1.25;
  margin-bottom: var(--spacing-vertical--1);
  @media (--medium-viewport) { 
    max-width: var(--content-width--small);
  }
  
}

.Preamble--blue {
  --color-preamble: var(--color-blue);
}

.Preamble--left {
  text-align: left;
}

.Preamble--center {
  text-align: center;
}

