/* markdown styling */

.Content h2{
  font-size: 2.5rem;
  line-height: 1;
  margin-bottom: var(--spacing-vertical--1);
}
.Content h3{
  font-size: 2rem;
  line-height: 1;
  margin-bottom: var(--spacing-vertical--1);
}
.Content h4{
  font-size: 1.4rem;
  line-height: 1;
  margin-bottom: var(--spacing-vertical--1);
}