/* Netlify wysiwyg styling*/

/* .Content {
  @media (--medium-viewport) { 
    max-width: var(--content-width--narrow);
  }
} */

.Content p {
  font-size: var(--font-size-small);
  line-height: 1.429;
  @media (--small-viewport) { 
    font-size: var(--font-size-normal);
    line-height: 1.375;
  }
}
.Content h2{
  font-size: 2rem;
  line-height: 1.1667;
  margin-bottom: var(--spacing-vertical--05);
  margin-top: var(--spacing-vertical--2);
  position: relative;

  @media (--small-viewport) { 
    font-size: 2.75rem;
  }
}

.Content h3{
  font-size: 1.5rem;
  line-height: 1.333;
  margin-bottom: var(--spacing-vertical--05);
  margin-top: var(--spacing-vertical--2);
  position: relative;

  @media (--small-viewport) { 
    font-size: 2rem;
  
  }
}

.Content h4{
  font-size: 1.25rem;
  line-height: 1.333;
  margin-bottom: var(--spacing-vertical--05);
  margin-top: var(--spacing-vertical--2);

  @media (--small-viewport) { 
    font-size: 1.5rem;
  }
}
.Content h5 {
  font-size: 1rem;
  line-height: 1.333;
  margin-bottom: calc( var(--spacing-vertical--05) / 2);
  margin-top: var(--spacing-vertical--1);

  @media (--small-viewport) { 
    font-size: 1.25rem;
  }
}
.Content h6 {
  font-size: 1rem;
  line-height: 1.333;
  text-transform: uppercase;
  margin-bottom: calc( var(--spacing-vertical--05) / 2);
  margin-top: var(--spacing-vertical--1);

}

.Content img {
  max-width: 100%;
}

.Content a {
  color: var(--color-black);
  text-underline-position: under;
}

.Content ul {
  list-style-type: none;
  padding-left: var(--spacing-unit);
  margin-left: var(--spacing-unit);
}
.Content ul li {
  margin-bottom: var(--spacing-vertical--05)
}
.Content ul li::before {
  content: "\0025A0";  
  color: var(--color-blue); 
  font-weight: bold;
  display: inline-block; 
  width: 1em; 
  margin-left: -1em;
  font-size: 14px;
  line-height: 1;
  position: absolute;
  margin-top: 2px;
  margin-left: -18px;
}

.Content table th{
  
  border: 0;
  text-align: left;
  background-color: var(--color-smoke);
}
.Content table th {
  padding: 8px 4px;
}
.Content table  td {
  padding: 6px 4px;
  width: 50%;
  text-align: left;
}
.Content table{
  width: 100%;
  border: 0;
  border-collapse: collapse;
}
.Content table tr:nth-child(even) {
  background: var(--color-background-light)
}


:root {
  --callout-background: var(--color-background-light);
  --callout-border: 2px solid var(--color-border);
  --callout-highlight: var(--color-blue);
  --callout-spacing: var(--spacing-lg);
  --callout-icon-height: 1.25rem;
}
/* callout widget */
.Callout {
  background-color: var(--callout-background);
  border: var(--callout-border);
  position: relative;
  padding: var(--callout-spacing);
  margin-top: var(--spacing-vertical--2);
  &::before {
    content: '';
    width: 2px;
    height:calc(100% - (var(--spacing-lg) * 2));
    position: absolute;
    left: -2px;
    background-color: var(--callout-highlight);
  }
 
}

.Callout__title {
  color: var(--color-blue);
  margin-bottom: 5px;
  display: block;
}

.Callout__text {
  margin-bottom: 0;
}
/* Image widget */

figure {
  margin: 0;
}
.Image {
  @media (--large-viewport) { 
    width: var(--content-width--narrow);
  }
}
.Image__border {
  text-align: center;
  margin-bottom: var(--spacing-vertical--2);
  
}

.Image__border img{
  border: 2px solid var(--color-border);
  display: inline-block;
  padding: var(--spacing-xxlg);
}

.Image__border img {
  display: inline-block; 
}

.Image__background {
  background: var(--color-smoke);
  text-align: center;
  margin-bottom: var(--spacing-vertical--2);
  margin-top: var(--spacing-vertical--3);
  position: relative;
}

.Image__caption {
  position: absolute;
  top: calc(-1.5 * var(--spacing-vertical--1));
}

.Image__background img {
  padding: var(--spacing-xxlg);
}
.active {
  background: red;
}
.selected {
  background: green;
}

/* Color widget */

.Colors {
  display: flex;
  flex-wrap: wrap;
  margin: var(--spacing-vertical--1) -1rem var(--spacing-vertical--2) -1rem;
}

.Colors__item {
  padding: 0 1rem;
  margin-bottom: var(--spacing-vertical--3);
}

.Colors__item--primary {
  width: 100%;
  @media (--xsmall-viewport) { 
   width: 50%;
  }
}

.Colors__item--complimentary {
  width: 50%;
  @media (--small-viewport) { 
   width: 25%;
  }
}

.Colors__item--special {
  width: 50%;
  @media (--small-viewport) { 
   width: 25%;
  }
}

.Colors__primary,
.Colors__complimentary,
.Colors__special {
  border-width: 0 0 2px 0;
  border-style: solid;
  padding-bottom: var(--spacing-vertical--1);
}

.Colors__primary .Colors__background {
  padding-top: 26.375%;
}

.Colors__complimentary .Colors__background {
  height: 3rem;
}

.Colors__special .Colors__background {
  height: 1.5rem;
}

.Content .Colors__title {
  margin-top: var(--spacing-vertical--1);
}

.Content .Colors__complimentary .Colors__title {
  font-size: 1.5rem;
  margin-top: var(--spacing-vertical--05);
}

.Content .Colors__special .Colors__title {
  font-size: 1.25rem;
  margin-top: var(--spacing-vertical--05);
}

.Colors__text {
  margin: 0;
}

.Colors__text span {
  padding-right: var(--spacing-md)
}

/* Code styling */

.Content pre {
  border: 2px solid var(--color-border);
  background-color: var(--color-smoke);
  font-size: var(--font-size-small);
  font-family: var(--font-family-base);
  padding: var(--spacing-xs);
  
  @media (--large-viewport) { 
    width: var(--content-width--narrow);
  }
}

.Content pre code {
  white-space: pre;
  overflow-x: scroll;
  display: block;
}

.Content  code {
  background-color: var(--color-smoke);
  padding: 0 2px;
}