/* Netlify wysiwyg styling*/

.Content--tight {
  @media (--medium-viewport) {
    max-width: var(--content-width--tight);
  }
}
.Content--center {
  text-align: center;
  margin-top: var(--spacing-vertical--1);
}

.Content--left {
  text-align: left;
  margin-top: var(--spacing-vertical--2);
}

.Content p,
.Content ul li {
  font-size: var(--font-size-small);
  line-height: 1.429;
  @media (--small-viewport) {
    font-size: var(--font-size-normal);
    line-height: 1.375;
  }
}
.Content h2 {
  font-size: 2rem;
  line-height: 1.1667;
  margin-bottom: var(--spacing-vertical--05);
  margin-top: var(--spacing-vertical--2);
  position: relative;

  @media (--small-viewport) {
    font-size: 2.75rem;
  }
}

.Content h3 {
  font-size: 1.5rem;
  line-height: 1.333;
  margin-bottom: var(--spacing-vertical--05);
  margin-top: var(--spacing-vertical--2);
  position: relative;

  @media (--small-viewport) {
    font-size: 2rem;
  }
}

.Content h4 {
  font-size: 1.25rem;
  line-height: 1.333;
  margin-bottom: var(--spacing-vertical--05);
  margin-top: var(--spacing-vertical--2);

  @media (--small-viewport) {
    font-size: 1.5rem;
  }
}
.Content h5 {
  font-size: 1rem;
  line-height: 1.333;
  margin-bottom: calc(var(--spacing-vertical--05) / 2);
  margin-top: var(--spacing-vertical--1);

  @media (--small-viewport) {
    font-size: 1.25rem;
  }
}
.Content h6 {
  font-size: 1rem;
  line-height: 1.333;
  text-transform: uppercase;
  margin-bottom: calc(var(--spacing-vertical--05) / 2);
  margin-top: var(--spacing-vertical--1);
}

.Content img {
  max-width: 100%;
}

.Content a {
  color: var(--color-black);
  text-underline-position: under;
}
.Content ol li {
  margin-bottom: var(--spacing-vertical--1);
}
.Content .lfui-theme ol li {
  margin-bottom: 0;
}

.Content ul {
  list-style-type: none;
  padding-left: var(--spacing-unit);
  margin-left: var(--spacing-unit);
}
.Content .lfui-theme ul {
  margin-left: 0;
  padding-left: 0;
}

.Content ul li {
  margin-bottom: var(--spacing-vertical--05);
}
.Content ul li::before {
  content: '\0025A0';
  color: var(--color-blue);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  font-size: 14px;
  line-height: 1;
  position: absolute;
  margin-top: 2px;
  margin-left: -18px;
}
.Content .lfui-theme ul li::before {
  content: none;
}

.Content table th {
  border: 0;
  text-align: left;
  background-color: var(--color-smoke);
}
.Content table th {
  padding: 8px 4px;
}
.Content table td {
  padding: 6px 4px;
  width: 50%;
  text-align: left;
}
.Content table {
  width: 100%;
  border: 0;
  border-collapse: collapse;
}
.Content table tr:nth-child(even) {
  background: var(--color-background-light);
}

:root {
  --callout-background: var(--color-background-light);
  --callout-border: 2px solid var(--color-border);
  --callout-highlight: var(--color-blue);
  --callout-spacing: var(--spacing-lg);
  --callout-icon-height: 1.25rem;
}
/* callout widget */
.Callout {
  background-color: var(--callout-background);
  border: var(--callout-border);
  position: relative;
  padding: var(--callout-spacing);
  margin-top: var(--spacing-vertical--2);
  margin-bottom: var(--spacing-vertical--2);
  &::before {
    content: '';
    width: 2px;
    height: calc(100% - (var(--spacing-lg) * 2));
    position: absolute;
    left: -2px;
    background-color: var(--callout-highlight);
  }
}

.Callout__title {
  color: var(--color-blue);
  margin-bottom: 5px;
  display: block;
}

.Callout__text {
  margin-bottom: 0;
}
/* Image widget */

figure {
  margin: 0;
}

.Content--tight .Image__wide,
.Content--tight section {
  @media (--large-viewport) {
    width: var(--content-width);
  }
}
.Content--wide .Image__wide {
  @media (--large-viewport) {
    width: var(--content-width--wide);
  }
}
.Content--normal .Image__wide,
.Content .Image__wide {
  @media (--xlarge-viewport) {
    width: calc(var(--content-width) - 32px);
  }
}
.Content--normal .Image__wide {
  margin-bottom: 0;
  margin-top: var(--spacing-vertical--2);
}
/* hack to get content inside wide to be narrow */

.Content--normal > div > *:not(section):not('.Colors') {
  max-width: var(--content-width--tight);
}
.Content > div > section {
  border-top: 2px solid var(--color-border);
  margin: var(--spacing-vertical--2) 0;
}

.Image {
  text-align: center;
  margin: var(--spacing-vertical--1) 0;
  position: relative;
}

.Image__border {
  text-align: center;
  margin-bottom: var(--spacing-vertical--2);
}

.Image__border img {
  border: 2px solid var(--color-border);
  display: inline-block;
  padding: 1rem;
  width: 100%;
}

.Image__background {
  background: var(--color-smoke);
}
.Image__background img {
  padding: var(--spacing-unit);
}

.Image__caption {
  /* position: absolute;
  top: calc(-1.5 * var(--spacing-vertical--1)); */
  font-size: var(--font-size-small);
  font-style: italic;
  text-align: left;
  color: var(--color-grey);
  background: #fff;
}

/*  FIX FOR BAD CUT IMAGES */
.Image__default img {
  width: 100%;
}

/* Color widget */

.Colors {
  display: flex;
  flex-wrap: wrap;
  margin: var(--spacing-vertical--1) -1rem var(--spacing-vertical--2) -1rem;
}

.Colors__item {
  padding: 0 1rem;
  margin-bottom: var(--spacing-vertical--3);
}

.Colors__item--primary {
  width: 100%;
  @media (--xsmall-viewport) {
    width: 50%;
  }
}

.Colors__item--complimentary {
  width: 50%;
  @media (--small-viewport) {
    width: 25%;
  }
}

.Colors__item--special {
  width: 50%;
  @media (--small-viewport) {
    width: 25%;
  }
}

.Colors__primary,
.Colors__complimentary,
.Colors__special {
  border-width: 0 0 2px 0;
  border-style: solid;
  padding-bottom: var(--spacing-vertical--1);
}

.Colors__primary .Colors__background {
  padding-top: 26.375%;
}

.Colors__complimentary .Colors__background {
  height: 3rem;
}

.Colors__special .Colors__background {
  height: 1.5rem;
}

.Content .Colors__title {
  margin-top: var(--spacing-vertical--1);
}

.Content .Colors__complimentary .Colors__title {
  font-size: 1.5rem;
  margin-top: var(--spacing-vertical--05);
}

.Content .Colors__special .Colors__title {
  font-size: 1.25rem;
  margin-top: var(--spacing-vertical--05);
}

.Colors__text {
  margin: 0;
}

.Colors__text span {
  padding-right: var(--spacing-md);
}

/* Code styling */

.Content pre {
  border: 2px solid var(--color-border);
  background-color: var(--color-smoke);
  font-size: var(--font-size-small);
  font-family: var(--font-family-base);
  padding: var(--spacing-xs);

  @media (--large-viewport) {
    width: var(--content-width--narrow);
  }
}

.Content pre code {
  white-space: pre;
  overflow-x: scroll;
  display: block;
}

.Content code {
  background-color: var(--color-smoke);
  padding: 0 2px;
  border-radius: 2px;
  font-size: 87.5%;
}


.ImageBlock {
  display: flex;
  flex-wrap: wrap-reverse;
  width: 100%;
  @media (--xsmall-viewport) {
    flex-wrap: nowrap;
  }
}
.ImageBlock__content {
  max-width: var(--content-width--tight);
}
.Content .ImageBlock__content > * {
  margin-top: 0;
}

.ImageBlock__object {
  width: 300px;
  text-align: center;
  margin: 0 auto var(--spacing-vertical--2);
  @media (--xsmall-viewport) {
    margin: 0;
  }
}
.ImageBlock__image {
  margin-top: 0;
}
