/* Netlify wysiwyg styling*/

.Content {
  @media (--medium-viewport) { 
    max-width: var(--content-width--small);
  }
}
.Content h2{
  font-size: 2.5rem;
  line-height: 1;
  margin-bottom: var(--spacing-vertical--1);
}
.Content h3{
  font-size: 2rem;
  line-height: 1;
  margin-bottom: var(--spacing-vertical--1);
}
.Content h4{
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: var(--spacing-vertical--1);
}


.Content blockquote p {
  color: var(--color-gray);
  font-size: 1.75rem;
}