
backend:
  name: github
  repo: LF-digitala-kanaler/LFUI-website
  branch: master

media_folder: static/img
public_folder: /img

collections: # A list of collections the CMS should be able to edi
  - name: component-group
    label: Component Groups
    editor:
      preview: true
    folder: content/components/web/landingpages
    
    create: false
    fields:
      - { label: Template, name: template, widget: hidden, default: ComponentGroup }
      - { label: Title, name: title, widget: string }
      - { label: Intro, name: intro, widget: text }
    


  - name: component-page
    label: Components
    editor:
      preview: true
    folder: content/components/web/buttonandlinks
    create: true # Allow users to create new documents in this collection
    fields: # The fields each document in this collection have
      - { label: Template, name: template, widget: hidden, default: ComponentPage }
      - label: 'Category'
        name: 'category'
        widget: 'select'
        options: ['', 'Navigations', 'Button and Links', 'Page Content', 'Micro Interaction']
      - { label: Title, name: title, widget: string }
      - { label: Intro, name: intro, widget: text }
      - label: 'Status'
        name: 'status'
        widget: 'select'
        options: ['Published', 'Featured', 'Draft']
        default: 'Published'
      - { label: Date / Order, name: date, widget: date }
      - { name: previewImage, label: previewImage, widget: image, required: false }
      - name: 'tabs'
        label: 'Tabs'
        label_singular: 'Tab'
        widget: 'list'
        fields:
          - { label: 'Name', name: 'name', widget: 'string', hint: 'Tab name' }
          - { label: 'Content', name: 'content', widget: 'markdown' }
      
        
  - name: 'settings'
    label: 'Settings'
    delete: false # Prevent users from deleting documents in this collection
    editor:
      preview: false
    files:
      - file: 'content/settings/global.yml'
        label: 'Global Settings'
        name: 'global-settings'
        fields:
          - { label: Site Title, name: siteTitle, widget: string }
          - { label: Site Headline, name: siteHeadline, widget: string }
          - { label: Site Url, name: siteUrl, widget: string, required: false }
          - {
              label: Site Description,
              name: siteDescription,
              widget: text,
              required: false,
            }
          - {
              label: Google Analytics Tracking Id,
              name: googleTrackingId,
              widget: string,
              required: false,
            }
  