
backend:
  name: github
  repo: LF-digitala-kanaler/LFUI-website
  branch: master

media_folder: static/img
public_folder: /img

collections: # A list of collections the CMS should be able to edi

  - name: component-page
    label: Components
    editor:
      preview: true
    folder: content/components/web/
    path: '{{category}}/{{slug}}'
    create: true # Allow users to create new documents in this collection
    filter: {field: "template", value: "ComponentPage"}
    fields: # The fields each document in this collection have

      
      - { label: Template, name: template, widget: hidden, default: ComponentPage, value: ComponentPage }
      - label: 'Category'
        name: 'category'
        widget: 'select'
        options: 
        - { label: "Button and Links", value: "buttonandlinks" }
        - { label: "Data Visualization", value: "datavisualization" }
        - { label: "Forms", value: "forms" }
        - { label: "Motions", value: "motions" }
        - { label: "Navigations", value: "navigations" }
        - { label: "Page Content", value: "pagecontent" }
        - { label: "Supportive Micro Interaction", value: "supportivemicrointeraction" }
        - { label: "System Display", value: "systemdisplay" }
        - { label: "Tables", value: "tables" }
        - { label: "Typography", value: "pypography" }
      - { label: Title, name: title, widget: string }
      - { label: Intro, name: intro, widget: text }
      - { label: Component Description, name: description, widget: text, hint: Will be shown on Component Group page}
      - { name: previewImage, label: previewImage, widget: image, required: false }
      - label: 'Background'
        name: 'backgroundColor'
        widget: 'select'
        options: 
          - { label: "Default", value: "#fff" }
          - { label: "White", value: "#fff" }
          - { label: "Grey", value: "#f3f3f3" }
      - name: 'tabs'
        label: 'Tabs'
        label_singular: 'Tab'
        widget: 'list'
        fields:
          - { label: 'Name', name: 'name', widget: 'string', hint: 'Tab name' }
          - { label: 'Content', name: 'content', widget: 'markdown' }


  - name: component-group
    label: Component Group
    editor:
      preview: true
    folder: content/components/web/
    filter: {field: "template", value: "ComponentGroup"}
    fields: 
      - { label: Template, name: template, widget: hidden, default: ComponentGroup, value: ComponentGroup }
      - { label: Title, name: title, widget: string }
      - { label: Intro, name: intro, widget: text }
      - { label: 'Content', name: 'content', widget: 'markdown', hint: 'WIll be shown below component list', required: false }

  
  
  - name: 'settings'
    label: 'Settings'
    delete: false # Prevent users from deleting documents in this collection
    editor:
      preview: false
    files:
      - file: 'content/settings/global.yml'
        label: 'Global Settings'
        name: 'global-settings'
        fields:
          - { label: Site Title, name: siteTitle, widget: string }
          - { label: Site Headline, name: siteHeadline, widget: string }
          - { label: Site Url, name: siteUrl, widget: string, required: false }
          - {
              label: Site Description,
              name: siteDescription,
              widget: text,
              required: false,
            }
          - {
              label: Google Analytics Tracking Id,
              name: googleTrackingId,
              widget: string,
              required: false,
            }
  
  