
backend:
  name: github
  repo: LF-digitala-kanaler/LFUI-website
  branch: master

publish_mode: editorial_workflow
media_folder: static/img
public_folder: /img
collections: # A list of collections the CMS should be able to edi

  - name: component-page
    label: Components
    editor:
      preview: true
    folder: content/components/web/
    path: '{{category}}/{{slug}}'
    create: true # Allow users to create new documents in this collection
    filter: {field: "template", value: "ComponentPage"}
    fields: # The fields each document in this collection have
      
      - label: "Priority"
        name: "priority"
        widget: "string"
        required: false
        hint: ['Navigation structure is based on alphabetical order, If you want to bypass that you can add a priority number. And this Page will be higher up in the structure. Low number higher up']
     
      - { label: Template, name: template, widget: hidden, default: ComponentPage, value: ComponentPage }
      - label: 'Category'
        name: 'category'
        widget: 'select'
        create: true 
        options: 
        - { label: "Button and Links", value: "Button and Links" }
        - { label: "Data Visualization", value: "Data Visualization" }
        - { label: "Forms", value: "Forms" }
        - { label: "Motions", value: "Motions" }
        - { label: "Navigations", value: "Navigations" }
        - { label: "Page Content", value: "Page Content" }
        - { label: "Supportive Microinteractions", value: "Supportive Microinteractions" }
        - { label: "System Display", value: "System Display" }
        - { label: "Tables", value: "Tables" }
        - { label: "Typography", value: "Typography" }
      - { label: Title, name: title, widget: string }
      - { label: Component Description, name: description, widget: text, hint: Will be shown on Component Group page}
      - label: Preview Image
        name: previewImage
        widget: image
        required: false
        media_library:
          config:
            multiple: true
      - { label: Intro, name: intro, widget: text }
      
      - label: 'Background'
        name: 'backgroundColor'
        widget: 'select'
        hint: 'Change background on iframe'
        options: 
          - { label: "White", value: "#fff" }
          - { label: "Grey", value: "#f3f3f3" }
        required: false

      - name: 'tabs'
        label: 'Tabs'
        label_singular: 'Tab'
        widget: 'list'
        fields:
          - { label: 'Name', name: 'name', widget: 'string', hint: 'Tab name' }
          - { label: 'Content', name: 'content', widget: 'markdown' }
    
    
  - name: design-page
    label: Design@LF
    folder: content/design/
    path: '{{category}}/{{slug}}'
    create: true # Allow users to create new documents in this collection
    fields: # The fields each document in this collection have
      - { label: Template, name: template, widget: hidden, default: ArticlePage, value: ArticlePage }
      - label: 'Category'
        name: 'category'
        widget: 'select'
        required: false
        options: 
          - { label: "Getting Started", value: "Getting Started" }
          - { label: "Brand Identity", value: "Brand Identity" }
          - { label: "Design Principles", value: "Design Principles" }
          - { label: "Process", value: "Process" }
          - { label: "Accessibility", value: "Accessibility" }
          - { label: "User Testing", value: "User Testing" }
          - { label: "Motion", value: "Motion" }
      - { label: Title, name: title, widget: string }
      - { label: Intro, name: intro, widget: text }
      - label: Hero image
        name: heroImage
        widget: object
        fields:
        - { label: 'Hero image desktop', name: heroImageDesktop, widget: 'image', required: false}
        - { label: 'Hero image mobile', name: heroImageMobile, widget: 'image', required: false}
        - { label: 'Content', name: content, widget: 'markdown',  required: false }
      - { label: 'Content', name: body, widget: 'markdown',  required: false }
      - label: 'Background'
        name: 'background'
        widget: 'select'
        required: false
        hint: ['Background for component example ( gray is default)']
        options: 
          - { label: "White", value: "bg-white" }
          - { label: "Grey", value: "" }
       
      - label: "Priority"
        name: "priority"
        widget: "string"
        required: false
        hint: ['Navigation structure is based on alphabetical order, If you want to bypass that you can add a priority number. And this Page will be higher up in the structure. Low number higher up']
      - { label: "Wide content area", name: "wide", widget: "boolean", default: false, hint: 'Toggle this to get a wider content area'}
      - { label: "Not yet Translated", name: "lang", widget: "boolean", default: false, hint: 'Toggle this to mark the page as not yet translated'}

  - name: patterns-page
    label: Patterns
    folder: content/patterns/
    path: '{{category}}/{{slug}}'
    create: true # Allow users to create new documents in this collection
    fields: # The fields each document in this collection have
      - { label: Template, name: template, widget: hidden, default: ArticlePage, value: ArticlePage }
      - label: 'Category'
        name: 'category'
        widget: 'select'
        required: false
        options: 
          - { label: "General Patterns", value: "General Patterns" }
        
      - { label: Title, name: title, widget: string }
      - { label: Intro, name: intro, widget: text }
      - label: Hero image
        name: heroImage
        widget: object
        fields:
        - { label: 'Hero image desktop', name: heroImageDesktop, widget: 'image', required: false}
        - { label: 'Hero image mobile', name: heroImageMobile, widget: 'image', required: false}
        - { label: 'Content', name: content, widget: 'markdown',  required: false }
      - label: 'Background'
        name: 'background'
        widget: 'select'
        required: false
        hint: ['Background for component example ( gray is default)']
        options: 
          - { label: "White", value: "bg-white" }
          - { label: "Grey", value: "" }
       
      - label: "Priority"
        name: "priority"
        widget: "string"
        required: false
        hint: ['Navigation structure is based on alphabetical order, If you want to bypass that you can add a priority number. And this Page will be higher up in the structure. Low number higher up']
      - { label: "Wide content area", name: "wide", widget: "boolean", default: false, hint: 'Toggle this to get a wider content area'}
      - { label: "Not yet Translated", name: "lang", widget: "boolean", default: false, hint: 'Toggle this to mark the page as not yet translated'}


  - name: visual-identity-page
    label: Visual Identity
    folder: content/visual-identity/
    path: '{{category}}/{{slug}}'
    create: true # Allow users to create new documents in this collection
    fields: # The fields each document in this collection have
      - { label: Template, name: template, widget: hidden, default: ArticlePage, value: ArticlePage }
      - label: 'Category'
        name: 'category'
        widget: 'select'
        required: false
        options: 
          - { label: "Getting Started", value: "Getting Started" }
          - { label: "Brand Identity", value: "Brand Identity" }
          - { label: "Design Principles", value: "Design Principles" }
          - { label: "Process", value: "Process" }
          - { label: "Accessibility", value: "Accessibility" }
          - { label: "User Testing", value: "User Testing" }
          - { label: "Motion", value: "Motion" }
        
      - { label: Title, name: title, widget: string }
      - { label: Intro, name: intro, widget: text }
      - label: Hero image
        name: heroImage
        widget: object
        fields:
        - { label: 'Hero image desktop', name: heroImageDesktop, widget: 'image', required: false}
        - { label: 'Hero image mobile', name: heroImageMobile, widget: 'image', required: false}
        - { label: 'Content', name: content, widget: 'markdown',  required: false }
      - { label: 'Content', name: body, widget: 'markdown',  required: false }
      - label: 'Background'
        name: 'background'
        widget: 'select'
        required: false
        hint: ['Background for component example ( gray is default)']
        options: 
          - { label: "White", value: "bg-white" }
          - { label: "Grey", value: "" }
       
      - label: "Priority"
        name: "priority"
        widget: "string"
        required: false
        hint: ['Navigation structure is based on alphabetical order, If you want to bypass that you can add a priority number. And this Page will be higher up in the structure. Low number higher up']
      - { label: "Wide content area", name: "wide", widget: "boolean", default: false, hint: 'Toggle this to get a wider content area'}
      - { label: "Not yet Translated", name: "lang", widget: "boolean", default: false, hint: 'Toggle this to mark the page as not yet translated'}

    
  - name: 'landing-page'
    label: 'Landing Pages'
    folder: content/
    path: 'content/{{slug}}/index'
    filter: {field: "template", value: "LandingPage"}
    fields: 
      - { label: Background, name: background, widget: hidden, default: 'bg-white', value: 'bg-white' }
      - { label: Template, name: template, widget: hidden, default: LandingPage, value: LandingPage }
      - { label: Title, name: title, widget: string }
      - { label: Intro, name: intro, widget: text }
      - label: 'Blockquote'
        name: 'blockquote'
        widget: 'object'
        fields: 
          - {label: "Text", name: "text", widget: "text", required: false}
          - {label: "Author", name: "author", widget: "string", required: false}
  
  - name: categoryOverview-page
    label: Category Overview
    editor:
      preview: true
    folder: content/
    path: 'content/{{slug}}/{{slug}}/index'
    filter: {field: "template", value: "CategoryOverview"}
    fields: 
      - { label: Background, name: background, widget: hidden, default: 'bg-white', value: 'bg-white' }
      - label: Preview Image
        name: previewImage
        widget: image
        required: false
        media_library:
          config:
            multiple: true
      - { label: Template, name: template, widget: hidden, default: CategoryOverview, value: CategoryOverview }
      - { label: Title, name: title, widget: string }
      - { label: Intro, name: intro, widget: text }
      - { label: 'Content', name: 'contentBelow', widget: 'markdown', hint: 'Will be shown below component list', required: false }
      - { label: 'Content', name: 'contentAbove', widget: 'markdown', hint: 'Will be shown above component list', required: false }
      - label: 'Blockquote'
        name: 'blockquote'
        widget: 'object'
        fields: 
          - {label: "Text", name: "text", widget: "text", required: false}
          - {label: "Author", name: "author", widget: "string", required: false}           
    
  - name: 'changelog'
    label: 'Change Log'
    files:
      - name: 'changelog-page'
        label: 'Changelog'
        file: 'content/about/whatsNew/changelog.md'
        fields: 
          - { label: Background, name: background, widget: hidden, default: 'bg-white', value: 'bg-white' }
          - { label: Template, name: template, widget: hidden, default: Changelog, value: Changelog }
          - { label: Title, name: title, widget: string }
          - { label: Intro, name: intro, widget: text }

  - name: 'homepage'
    label: 'Home Page'
    files:
      - name: 'home-page'
        label: 'Home Page'
        file: 'content/pages/home.md'
        fields: 
          - { label: Background, name: background, widget: hidden, default: 'bg-white', value: 'bg-white' }
          - { label: Template, name: template, widget: hidden, default: HomePage, value: HomePage }
          - { label: Title, name: title, widget: string }
          - { label: Intro, name: intro, widget: text }
          - name: 'shortcuts'
            label: 'Shortcuts'
            label_singular: 'Shortcut'
            widget: 'list'
            fields:
              - { label: 'Icon', name: 'icon', widget: 'image', hint: 'Use a svg image' }
              - { label: 'Title', name: 'title', widget: 'string' }
              - { label: 'Text', name: 'text', widget: 'string' }
              - { label: 'Link', name: 'link', widget: 'string' }
              
          - { label: 'Full width image desktop', name: fullWidthImage, widget: 'image' }
          - { label: 'Full width image mobile', name: fullWidthImageMobile, widget: 'image' }
          - { label: 'Content', name: body, widget: 'markdown',  required: false }

          - label: "Related Links"
            name: "relatedLinks"
            collapsed: false
            widget: "list"
            fields:
              - {label: Text, name: text, widget: string }
              - {label: Url, name: url, widget: string }
             
         

  - name: 'settings'
    label: 'Settings'
    delete: false # Prevent users from deleting documents in this collection
    editor:
      preview: false
    files:
      - file: 'content/settings/global.yml'
        label: 'Global Settings'
        name: 'global-settings'
        fields:
          - { label: Site Title, name: siteTitle, widget: string }
          - { label: Site Headline, name: siteHeadline, widget: string }
          - { label: Site Url, name: siteUrl, widget: string, required: false }
          - {
              label: Site Description,
              name: siteDescription,
              widget: text,
              required: false,
            }
          - {
              label: Google Analytics Tracking Id,
              name: googleTrackingId,
              widget: string,
              required: false,
            }
          - {
              label: Old LFUI Url,
              name: oldSiteUrl,
              widget: string,
              required: false,
            }
  
  