:root {
  --wrapper-width: var(--content-width);
  --wrapper-width--narrow: var(--content-width--narrow);
  --wrapper-width--wide: var(--content-width--wide);
  --wrapper-spacing: var(--spacing-xlg);
}

.Wrapper {
  max-width: var(--wrapper-width);
  position: relative;
  padding-left: var(--wrapper-spacing);
  padding-right: var(--wrapper-spacing);
  padding-top: var(--wrapper-spacing);
  display: flex;
  flex-direction: column;

  @media (--large-viewport) {
    margin-left: auto;
    margin-right: auto;
  }
}

.Wrapper--push {
  @media (--medium-viewport) {
    margin-left: calc(26% + var(--spacing-xxlg));
    margin-right: var(--spacing-xxlg);
  }
}

.Wrapper--narrow {
  @media (--large-viewport) {
    max-width: var(--wrapper-width--narrow);
  }
}

.Wrapper--narrow .Image {
  @media (--large-viewport) {
    width: var(--content-width--narrow);
  }
}

.Wrapper--wide {
  @media (--large-viewport) {
    max-width: var(--wrapper-width--wide);
  }
}
.Wrapper--tight {
  @media (--large-viewport) {
    max-width: var(--content-width--tight);
  }
}

.Wrapper--center {
  margin: 0 auto;
  overflow: hidden;
}
