:root {
  --wrapper-width: 61.375em; /* If this is changed change --medium-viewport in _base/index.css too */
  --wrapper-spacing: var(--spacing-unit);
}

.Wrapper {
  max-width: var(--wrapper-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--wrapper-spacing);
  padding-right: var(--wrapper-spacing);
  
  @media (--medium-viewport) {
    padding-left: 0;
    padding-right: 0;
  }
}


.Wrapper--push {
  @media (--medium-viewport) { 
    margin-left: calc(var(--sidebar-width) + var(--spacing-xxlg));
    margin-right: var(--spacing-xxlg);
  }
  @media (--xlarge-viewport) { 
    max-width: var(--wrapper-width);
  }
  @media (--xxlarge-viewport) { 
    margin-left: auto;
    margin-right: auto;
  }
}
