:root {
  --wrapper-width: var(--content-width);
  --wrapper-width--narrow: var(--content-width--narrow); 
  --wrapper-spacing: var(--spacing-unit);
}

.Wrapper {
  max-width: var(--wrapper-width);
  position: relative;
  padding-left: var(--wrapper-spacing);
  padding-right: var(--wrapper-spacing);
  display: flex;
  flex-direction: column;
  
  @media (--medium-viewport) { 
    padding-left: 0;
    padding-right: 0;
  }
  
  @media (--large-viewport) {
   
    margin-left: auto;
    margin-right: auto;
  }
}

.Wrapper--push {
  @media (--medium-viewport) { 
    margin-left: calc(26% + var(--spacing-xxlg));
    margin-right: var(--spacing-xxlg);
    
  }
  
  /* @media (--large-viewport) { 
    margin-left: auto;
    margin-right: auto;
  } */
}

.Wrapper--narrow {
  @media (--large-viewport) { 
    max-width: var(--wrapper-width--narrow);
  }
  
}
