.Card {
  text-decoration: none;
  color: var(--color-black);
  margin-bottom: var(--spacing-vertical--2);
}

.Card__wrapper {
  width: 100%;
  display: flex;
}

.Card__title {
  font-size: 2rem;
  line-height: 1.13;
  margin-bottom: var(--spacing-vertical--05);
}
.Card__image {
  margin-right: var(--spacing-lg);
}

.Card__description {
  @media (--small-viewport) { 
    max-width: 33rem;
  }
  
}