.Card {
  text-decoration: none;
  color: var(--color-black);
  display: block;
  transition: background-color 0.2s ease-in;
  text-align: center;
  padding: calc(2* var(--spacing-xxlg)) var(--spacing-lg) var(--spacing-lg);
  @media (--medium-viewport) { 
    
    &:hover {
      background-color: var(--color-background-light);
    }
  }
}

.Card__wrapper {
  width: 100%;
  
  @media (--xsmall-viewport) { 
    display: flex;
  }
}

.Card__title {
  font-size: 1.5rem;
  line-height: 1.13;
  margin-bottom: var(--spacing-vertical--05);
  text-align: left;

  @media (--medium-viewport) { 
    font-size: 2rem;
  }
}
.Card__title--small {
  font-size: 1.2rem;
  margin-top: var(--spacing-vertical--05);
  text-align: center;
  @media (--large-viewport) { 
    font-size: 1.5rem;
  }
}

.Card__image {
  margin: 0;
}

.Card__object,
.Card__empty {
  width: 240px;
  height: 120px;
  margin-bottom: var(--spacing-vertical--1);
}

.Card__image--spacing {
    margin-right: var(--spacing-lg);
}

.Card__description {
  text-align: left;
  @media (--medium-viewport) { 
    max-width: 33rem;
  }
  
}
.Card--list {
  margin-bottom: var(--spacing-vertical--2)
}



/* .Card__body {
  @media (--small-viewport-down) { 
    width: 66%;
  }
} */