.Preview {
  position: relative;
  margin-bottom: var(--spacing-vertical--3);
  margin-top: var(--spacing-vertical--3);
}

.Preview__resize {
  display: none;

  @media (--medium-viewport) {
    min-height: 240px;
    position: absolute;
    
    transition: border .3s ease;
    border: 1px solid #e1e3e6;
    cursor: col-resize;
    bottom: 0;
    right: 5px;
    width: 23px;
    background-color: #fff;
    z-index: 2;
    display: block;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iIzUxNTE1MSIgZmlsbC1ydWxlPSJldmVub2RkIj48Y2lyY2xlIGN4PSIyIiBjeT0iMiIgcj0iMiIvPjxjaXJjbGUgY3g9IjIiIGN5PSI4IiByPSIyIi8+PGNpcmNsZSBjeD0iMiIgY3k9IjE0IiByPSIyIi8+PGNpcmNsZSBjeD0iOCIgY3k9IjIiIHI9IjIiLz48Y2lyY2xlIGN4PSI4IiBjeT0iOCIgcj0iMiIvPjxjaXJjbGUgY3g9IjgiIGN5PSIxNCIgcj0iMiIvPjwvZz48L3N2Zz4=);
  }
}

.Preview__box {
  width: 100%;
  height: 240px;
}