:root {
  --navigation-spacing: var(--spacing-unit);
  --navigation-color: var(--color-body);
  --navigation-active: var(--color-red);
  --navigation-active-background: var(--color-smoke);

  @media (--medium-viewport) {
    --navigation-spacing: var(--spacing-xlg) var(--spacing-xxlg);
  }
}

.Navigation {
  @media (--medium-viewport-down) {
    width: 100%;
  }
}
.Navigation__list {
  list-style-type: none;
  display: flex;
  margin: 0;
  position: relative;
  z-index: 1;

  @media (--medium-viewport-down) {
    align-items: stretch;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    padding-left: 0;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    padding-bottom: 2px;
  }
}
.Navigation__list::-webkit-scrollbar {
  @media (--medium-viewport-down) {
    width: 0 !important;
    height: 0;
    display: none;
  }
}

.Navigation__item {
  flex-grow: 1;
}
.Navigation__link {
  color: var(--navigation-color);
  text-decoration: none;
  padding: var(--navigation-spacing);
  display: block;
  white-space: nowrap;
  text-align: center;

  @media (--medium-viewport-down) {
    flex: 1;
  }
}

.is__active {
  color: var(--color-black);
  background-color: var(--navigation-active-background);
  box-shadow: 0 2px 0 0 var(--navigation-active);
}
