:root {
  --navigation-spacing: var(--spacing-unit) 0;
  --navigation-color: var(--color-body);
  --navigation-active: var(--color-red);
  --navigation-active-background: var(--color-smoke);
  
  @media (--small-viewport) { 
    --navigation-spacing: var(--spacing-xlg) var(--spacing-xxlg);
  }
}

.Navigation {

  @media (--small-viewport-down) {
    width: 100%;
  }
}
.Navigation__list {
  list-style-type: none;
  display: flex;
  margin: 0;
  position: relative;
  z-index: 1;
  padding-left: 0;
  

  @media (--small-viewport-down) {
    align-items: stretch;
  }

}

.Navigation__item {
  flex-grow: 1;
}
.Navigation__link {
  color: var(--navigation-color);
  text-decoration: none;
  padding: var(--navigation-spacing);
  display: block;
  white-space: nowrap;
  text-align: center;

  @media (--small-viewport-down) {
    flex: 1;
  }

  

}

.is__active {
  color: var(--color-black);
  background-color: var(--navigation-active-background);
  box-shadow: 0 2px 0 0 var(--navigation-active);
}