:root {
  
}
.Heading {
  font-weight: var(--font-weight-normal);
}

.Heading__1 {
  font-size: 2.5em;
  margin-bottom: var(--spacing-vertical--1);
  line-height: 1.3;
  
  @media (--small-viewport) { 
    font-size: 3.75em;
  }
  /* @media (--medium-viewport) { 
    margin-top: var(--spacing-vertical--2);
  } */
}
.Heading__2 {
  font-size: 2rem;
  line-height: 1.1667;
  margin-bottom: var(--spacing-vertical--05);
  margin-top: var(--spacing-vertical--2);
  position: relative;

  @media (--small-viewport) { 
    font-size: 2.75rem;
  }
}
.Heading__3 {
  font-size: 1.5rem;
  line-height: 1.333;
  margin-bottom: var(--spacing-vertical--05);
  margin-top: var(--spacing-vertical--2);
  position: relative;

  @media (--small-viewport) { 
    font-size: 2rem;
  
  }
}

/* .Heading--2 {
  font-size: 50px;
   margin-bottom: var(--spacing-vertical--1);
}
.Heading--4 {
  color: #333;
  font-family: arial;
  font-size: 23px;
  font-weight: bold;
}
.Heading--left {
  text-align: left;
}
*/
.Heading__center {
  text-align: center;
} 
