
:root {
  
}
.Heading {
  font-weight: var(--font-weight-normal);
}

.Heading--1 {
   /* @media (--medium-viewport) { 
  --minFontSize: 1.5rem;
  --maxFontSize: 3.75rem;
  --scaler: 10vw;
  font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize)); */
  font-size: 3.75em;
  margin-bottom: var(--spacing-vertical--1);
  line-height: 1;
  margin-top:var(--spacing-vertical--2);
}

/* .Heading--2 {
  font-size: 50px;
   margin-bottom: var(--spacing-vertical--1);
}

.Heading--4 {
  color: #333;
  font-family: arial;
  font-size: 23px;
  font-weight: bold;
}

.Heading--left {
  text-align: left;
}
*/
.Heading--center {
  text-align: center;
} 

