.Collapse {
  border-bottom: 1px solid var(--color-border);
}
.Accoridon__section {
  display: flex;
  flex-direction: column;
}

.Collapse__button {
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  outline: none;
  width: 100%;
  font-size: 1.5rem;
  padding: var(--spacing-md) 0;
  position: relative;
}

.Collapse__icon {
  position: absolute;
  height: 20px;
  width: 20px;
  right: 0;

  &:before,
  &:after {
    content: "";
    position: absolute;
    background-color: var(--color-black);
    transition: transform 0.25s ease-out;
   
  }
  &:before {
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    margin-left: -1px;
  }

  /* horizontal line */
  &:after {
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    margin-top: -1px;
  }
  &.Collapse--active {
    &:before { transform: rotate(90deg);}
    &:after {transform: rotate(180deg);}
  }
}


    
.Collapse__title {
  line-height: 1.1;
}

.Collapse__content {
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.Collapse__inner {
  padding: var(--spacing-sm) 0;
}