
.BrowserBanner {
  background-color: #faf4d4;
  padding: 42px;
  border-bottom: 2px solid #e5e5e5;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0px;
}

.BrowserBanner__content {
  position: relative;
  z-index: 2;
}

.BrowserBanner__text {
  margin-bottom: 0;
}
.BrowserBanner__container {
  display: flex;
}

.BrowserBanner__icon {
  display: none;
  
}

@media (min-width: 48rem) {  
  .BrowserBanner__icon {
    display: block;
    margin-right: 1rem;
  }
}