:root {
  
  --header-background: var(--color-white);
  --header-width: var(--content-width);
  --header-border-color: var(--color-border);
}

.Header {
  background-color: var(--header-background);
  /* box-shadow: 0 2px 0 0 var(--header-border-color); */
  margin-bottom: var(--spacing-vertical--3);
  position: relative;
  z-index: 3;
  
  @media (--medium-viewport-down) {
    display: flex;
    flex-direction: column-reverse;
   
  }
  @media (--medium-viewport) {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
}
.Header::after {
  content: '';
  width: 100%;
  background-color: var(--header-border-color);
  height: 2px;
  position: absolute;
  bottom: 0;
  @media (--medium-viewport) { 
    bottom: -2px;
   }
}
.Header__wrapper {
  
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  
 
  @media (--medium-viewport) { 
    margin-left: calc(26% + var(--spacing-xxlg));
    margin-right: auto;
    max-width: var(--header-width);
   justify-content: flex-end;
  }

  
}

.Header__wrapper--last {
  justify-content: space-between;
 
  @media (--large-viewport) {  
    position: relative;
    padding: 0 var(--spacing-sm)
  }
}

.Header__container {
  display: flex;

  @media (--medium-viewport) {  
    position: relative;
  }
}

.Header__container--last {
  justify-content: space-between;
  border-bottom: 2px solid var(--header-border-color);
  min-height: 3.56rem;
   @media (--medium-viewport) { 
      border-top: 2px solid var(--header-border-color);
      border-bottom: 0;
      min-height: 3rem;
   }
}


.Header__title {
  width: var(--sidebar-width);
  padding-left: 1.125rem;
  position: absolute;
  align-items: center;
  text-decoration: none;
  color: var(--color-black);
  display: flex;
  
  @media (--medium-viewport-down) {
    top:12px;
  }

  @media (--medium-viewport) { 
    height: 100%;
  }

}
.Header__title--offset {
  @media (--medium-viewport-down) {
    left: 48px;
  }
}

.Header__headline { 
  letter-spacing: 1rem;
  line-height: 1;
  margin-left: var(--spacing-xxlg);
  margin-top: 0.25rem;
}
