:root {
  
  --footer-background: var(--color-white);
  --footer-width: var(--wrapper-width);
  --footer-border-color: var(--color-border);
}

.Footer {
  background-color: var(--footer-background);
  padding: var(--spacing-sm) var(--spacing-md);
  border-top: 2px solid var(--footer-border-color);
  margin-top: auto;
  position: relation;
  z-index: 4;
}

.Footer__container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: flex-end;
}

.Footer__logo {
  display: flex;
}

.Footer__text {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}