:root {
  --search-spacing: var(--spacing-sm) var(--spacing-md);

}

.Search {
  margin-left: auto;
}
.Search__text {
  margin-top: 2px;
  display: block;

  @media (--medium-viewport) { 
     margin-left: var(--spacing-xs);
    
  }
}
.Search__button {
  background-color: transparent;
  border: 0;
  padding: var(--search-spacing);
  -webkit-appearance: none;
  font-size: 0.5rem;
  color: var(--color-black);

  @media (--medium-viewport) { 
    display: flex;
    align-items: center;
    font-size: var(--baseline-font-size);
  }
  
}