.Shortcut {
  margin-bottom: var(--spacing-vertical--2)
}

.Shortcut__link {
  text-decoration: none;
  color: var(--color-black);
  text-align: center;
  display: block;
  transition: background-color 0.2s ease-in;
  padding: 0 var(--spacing-xxlg);

  @media (--medium-viewport) { 
    padding: calc(2 * var(--spacing-xxlg)) var(--spacing-xlg);
    &:hover {
      background-color: var(--color-background-light);
    }
  }
}

.Shortcut__icon {
  margin-bottom: var(--spacing-vertical--1);
}
.Shortcut__title {
  display: block;
}

.Shortcut__text {
  margin: 0;
}