.Shortcut {
  margin-bottom: var(--spacing-vertical--2);
}

.Shortcut__link {
  text-decoration: none;
  color: var(--color-black);
  text-align: center;
  display: block;
  transition: background-color 0.2s ease-in;
  padding: 0 var(--spacing-xxlg);

  @media (--medium-viewport) {
    padding: calc(2 * var(--spacing-xxlg)) var(--spacing-xlg);
    &:hover {
      background-color: var(--color-background-light);
    }
  }
}

.Shortcut__icon {
  @media (--medium-viewport) {
    margin-bottom: var(--spacing-vertical--1);
  }
}

.Shortcut__title {
  display: block;
}

.Shortcut__text {
  margin: 0;
}

.Shortcut--horizontal {
  background-color: var(--color-white);
  border-bottom: 2px solid var(--color-border);
  margin-bottom: 0;
  height: 169px;
  @media (--large-viewport-bootstrap) {
    border: 0;
  }
}

.Shortcut--horizontal .Shortcut__title {
  margin-bottom: var(--spacing-vertical--05);
}

.Shortcut--horizontal .Shortcut__container {
  width: 120px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.Shortcut--horizontal .Shortcut__icon {
  margin-bottom: 0;
}

.Shortcut--horizontal .Shortcut__link {
  height: 100%;
  position: relative;
  padding: var(--spacing-xxlg) var(--spacing-xxlg);
}

.Shortcut--horizontal .Shortcut__body {
  text-align: left;
  margin-left: 5.5rem;
}

.Shortcut__arrow {
  width: 21px;
  height: 12px;
  position: absolute;
  bottom: var(--spacing-xxlg);
  right: var(--spacing-xxlg);
  transition: transform 0.2s ease-out;
}

.Shortcut--horizontal .Shortcut__link:hover .Shortcut__arrow {
  transform: translateX(8px);
}
