:root {

}

.ComponentNavigation__list {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}

.ComponentNavigation__button {
  background: transparent;
  border: 0;
  padding: var(--spacing-xs) var(--spacing-md);
}

.ComponentNavigation__button--isActive {
  background-color: var(--color-shadow);
  border-radius: 4px;
  outline: 0;
}