:root {
  --codeBlock-background: var(--color-white);
  --codeBlock-spacing: var(--spacing-lg);
}

.CodeBlock {
  margin: 0;
  background-color: var(--codeBlock-background);
  border: 2px solid var(--color-border);
  border-width: 2px 2px 0 2px;
  font-size: 14px;
  padding-left: var(--spacing-xs);
}
