name: Gatsby Publish

on:
  push:
    branches:
      - develop

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2.4.0
        with:
          persist-credentials: false
          token: ${{ secrets.GITHUB_TOKEN }}
      - run: yarn build
      - name: deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          personal_token: ${{ secrets.ACCESS_TOKEN }}
          external_repository: LF-digitala-kanaler/lf-digitala-kanaler.github.io
          publish_branch: master
