name: Gatsby Publish

on:
  push:
    branches:
      - develop

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.4.0
        with:
          persist-credentials: false
          token: ${{ secrets.GITHUB_TOKEN }}
     
      - uses: enriikke/gatsby-gh-pages-action@v2.2.0

        with:
          access-token: x-access-token:${{ secrets.GITHUB_TOKEN }}
          deploy-repo: lf-digitala-kanaler.github.io
          deploy-branch: master
