name: Publish
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          persist-credentials: false

      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '16'
          registry-url: 'https://npm.pkg.github.com'

      - name: Install
        run: npm ci
        env:
          NODE_AUTH_TOKEN: ${{ secrets.ACCESS_TOKEN }}

      - name: Build
        run: npm run build
        env:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@4.1.8
        with:
          branch: main
          folder: public
          token: ${{ secrets.ACCESS_TOKEN }}
          repository-name: LF-digitala-kanaler/lf-digitala-kanaler.github.io
